.footer {
    display: flex;
    flex-direction: column;
    width: var(--width-xl);
    height: 265px;
    margin: 0 auto;
}

.footer_nav_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 163px;
    padding: 82px 0 31px;
    border-bottom: 1px solid var(--border-color);
}

.footer_rights_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 102px;
    padding: 30px 0 46px;
}

.footer_logo {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: var(--logo-bgcolor);

    &::before {
        content: 'R';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 64px;
        height: 64px;
        padding: 16px 0;
        border-radius: 50%;
        box-sizing: border-box;
        font-size: 32px;
        line-height: 1;
        font-weight: 700;
        text-align: center;
        color: var(--secondary-bgcolor);
    }
}

.footer_nav {
    ul {
        & li:last-child {
            display: none;
        }

        & li:nth-child(3) {
            margin-right: 0;
        }
    }
}

.footer_socials {
    & li:nth-child(5) {
        margin-right: 0;
    }

    & li:nth-child(3) {
        display: none;
    }
}

.footer_rights,
.footer_policy {
    font-family: DMSans_Regular, sans-serif;
    font-size: var(--text-md-font-size);
    line-height: 26px;
    color: var(--gray-color);
}

.footer_policy {
    display: flex;

    & span {
        display: inline-block;
        margin-right: 38px;
    }

    & span:last-child {
        margin-right: 0;
    }
}


