.third_section {
    display: flex;
    flex-direction: column;
    width: var(--width-xl);
    height: fit-content;
    margin: 0 auto 135px;
}

.third_section_title {
    width: 100%;
    margin-bottom: 56px;
    font-size: var(--h2-font-size);
    line-height: 61px;
    font-weight: 700;
    color: var(--secondary-color)
}

.third_section_info {
    width: 60%;
    margin-bottom: 79px;
    font-size: var(--text-font-size);
    line-height: 32px;
    color: var(--primary-color)
}

.third_section_wrapper {
    display: flex;
    width: 100%;
    height: fit-content;
}

.third_section_img {
    display: inline-block;
    width: Max(641px, 50%);
    height: fit-content;
}

.third_section_descr {
    display: flex;
    flex-direction: column;
    max-width: 353px;
    height: fit-content;
    margin-left: auto;

    & > h3 {
        width: fit-content;
        margin-bottom: 20px;
        padding: 0 5px;
        border-bottom: 2px solid var(--logo-bgcolor);
        font-size: var(--h3-font-size);
        line-height: 1.4;
        color: var(--primary-color);
    }

    & > p {
        width: 100%;
        font-size: var(--text-nav-font-size);
        line-height: 26px;
        color: var(--primary-color);
    }
}
