.socials {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;

    & li {
        width: 35px;
        height: 35px;
        margin-right: 35px;

        a {
            display: inline-block;
            width: 35px;
            height: 35px;
        }

        .socials_twitter {
            background: url('../../theme/assets/icons/twitter.svg') no-repeat center;
        }

        .socials_facebook {
            background: url('../../theme/assets/icons/facebook.svg') no-repeat center;
        }

        .socials_insta {
            background: url('../../theme/assets/icons/insta.svg') no-repeat center;
        }

        .socials_linkedin {
            background: url('../../theme/assets/icons/linkedin.svg') no-repeat center;
        }

        .socials_chain {
            background: url('../../theme/assets/icons/chain.svg') no-repeat center;
        }
    }

    & li:last-child {
        margin-right: 0;
    }
}


