.socials {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;

    & li:last-child {
        margin-right: 0;
    }
}

li {
    width: 14px;
    height: 14px;
    margin-right: 15px;

    a {
        display: inline-block;
        width: 14px;
        height: 14px;
        filter: invert(100%) brightness(200%);
        -webkit-filter: invert(100%) brightness(200%);
    }

    .socials_twitter {
        background: url('../../theme/assets/icons/twitter.svg') no-repeat;
        background-size: cover;
    }

    .socials_facebook {
        background: url('../../theme/assets/icons/facebook.svg') no-repeat;
        background-size: cover;
    }

    .socials_insta {
        background: url('../../theme/assets/icons/insta.svg') no-repeat;
        background-size: cover;
    }

    .socials_linkedin {
        background: url('../../theme/assets/icons/linkedin.svg') no-repeat;
        background-size: cover;
    }


    .socials_chain {
        background: url('../../theme/assets/icons/chain.svg') no-repeat;
        background-size: cover;
    }
}


