:root {
    /* color */
    --primary-bgcolor: #151515;
    --secondary-bgcolor: #FFFFFF;
    --logo-bgcolor: #CA0016;
    --primary-color: #000000;
    --secondary-color: #121212;
    --nav-color: #1B1C20;
    --gray-color: #797B89;
    --gray-light-color: #F2F2F2;
    --border-color: #D4D4D8;

    /* font-size */
    --h1-font-size: 60px;
    --h2-font-size: 50px;
    --h2-small-font-size: 42px;
    --h3-font-size: 26px;
    --text-font-size: 20px;
    --text-note-font-size: 18px;
    --text-nav-font-size: 18px;
    --text-md-font-size: 16px;
    --text-sm-font-size: 14px;
    --text-xs-font-size: 12px;

    /* dimensions */
    --width-xl: 1280px;
    --width-lg: 1024px;
    --width-md: 768px;
    --width-sm: 375px;

    --avatar-border-radius: 10px;

}
